Daily task reminder.json
{
  "name": "Daily task reminder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "f1cf2810-9eca-46cb-98c7-95a743b69cb2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2c0622e0-21c0-41f7-a3d2-4b5cfd0e560d",
              "name": "tasks",
              "value": "{\n  \"tasks\": [\n    { \"task\": \"Post on LinkedIn\", \"priority\": \"high\" },\n    { \"task\": \"Reply to emails\", \"priority\": \"normal\" },\n    { \"task\": \"Learn n8n\", \"priority\": \"high\" },\n    { \"task\": \"Upload on Github\", \"priority\": \"high\" },\n    { \"task\": \"Do Workout\", \"priority\": \"high\" }\n  ]\n}\n",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "35530e28-e3d6-43d0-a545-d0fdf000cf55",
      "name": "Create Tasks"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "83c63deb-e283-4d55-9ae0-08b5817433f6",
              "name": "=highprioritytask",
              "value": "={{$json.tasks.tasks.filter(t => t.priority === \"high\")}}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        0
      ],
      "id": "e3931a33-03d7-4127-9d05-34220a106c74",
      "name": "Split Tasks"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f404721-0999-425e-8664-f877ae349f16",
              "name": "emailBody",
              "value": "={{ \n  $json.highprioritytask\n    .map(t => \"• \" + t.task)\n    .join(\"\\n\")\n}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        0
      ],
      "id": "94fa1bc1-e787-4f2f-b960-39ee0cf0b272",
      "name": "Format Tasks"
    },
    {
      "parameters": {
        "sendTo": "htfsh12345@gmail.com",
        "subject": "🔥 High Priority Tasks for Today",
        "message": "={{    \"Good morning!\\n\\nHere are your high-priority tasks for today:\\n\\n\"    + $json.emailBody    + \"\\n\\nStay consistent 💪\"  }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        896,
        0
      ],
      "id": "39775776-f953-4733-96f3-7341084d8c13",
      "name": "Send a message",
      "webhookId": "bcea24e9-c84d-48e5-8dcf-48e09c12ae69",
      "credentials": {
        "gmailOAuth2": {
          "id": "x4ccJ3mA4SGIuqo1",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Create Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Tasks": {
      "main": [
        [
          {
            "node": "Split Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Tasks": {
      "main": [
        [
          {
            "node": "Format Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Tasks": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "8def39ee-c94b-45f6-a625-9c892623de7b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d4e41ac00f47d48db81622a42173403a2c3150258a9fa8d8d121acaeccc607f"
  },
  "id": "wMBIgE9LZ5v3Qn_bamGBQ",
  "tags": []
}